In [39]:
import pandas as pd
import numpy as np

data = pd.read_csv("heart.csv")
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [2]:
print(data["ChestPainType"].value_counts())
print(data["RestingECG"].value_counts())
print(data["ExerciseAngina"].value_counts())
print(data["ST_Slope"].value_counts())
print(data["Sex"].value_counts())

ASY    496
NAP    203
ATA    173
TA      46
Name: ChestPainType, dtype: int64
Normal    552
LVH       188
ST        178
Name: RestingECG, dtype: int64
N    547
Y    371
Name: ExerciseAngina, dtype: int64
Flat    460
Up      395
Down     63
Name: ST_Slope, dtype: int64
M    725
F    193
Name: Sex, dtype: int64

In [44]:
cleanupType = {"ChestPainType": {"ASY": 0, "NAP": 1, "ATA": 2, "TA": 3}}
print(cleanupType["ChestPainType"])

#To convert the columns to numbers
data = data.replace(cleanupType)
data["ChestPainType"]

{'ASY': 0, 'NAP': 1, 'ATA': 2, 'TA': 3}

0      2
1      1
2      2
3      0
4      1
      ..
913    3
914    0
915    0
916    2
917    1
Name: ChestPainType, Length: 918, dtype: int64

In [43]:
cleanupType2 = {"RestingECG": {"Normal": 0, "LVH": 1, "ST": 2}}
print(cleanupType2["RestingECG"])

#To convert the columns to numbers
data = data.replace(cleanupType2)
data["RestingECG"]

{'Normal': 0, 'LVH': 1, 'ST': 2}

0      0
1      0
2      2
3      0
4      0
      ..
913    0
914    0
915    0
916    1
917    0
Name: RestingECG, Length: 918, dtype: int64

In [48]:
cleanupType3 = {"ST_Slope": {"Flat": 0, "Up": 1, "Down": 2}}
print(cleanupType3["ST_Slope"])

#To convert the columns to numbers
data = data.replace(cleanupType3)
data["ST_Slope"]

{'Flat': 0, 'Up': 1, 'Down': 2}

0      1
1      0
2      1
3      0
4      1
      ..
913    0
914    0
915    0
916    0
917    1
Name: ST_Slope, Length: 918, dtype: int64

In [42]:
cleanupType4 = {"ExerciseAngina": {"N": 0, "Y": 1}}
print(cleanupType4["ExerciseAngina"])

#To convert the columns to numbers
data = data.replace(cleanupType4)
data["ExerciseAngina"]

{'N': 0, 'Y': 1}

0      0
1      0
2      0
3      1
4      0
      ..
913    0
914    0
915    1
916    0
917    0
Name: ExerciseAngina, Length: 918, dtype: int64

In [45]:
cleanupType5 = {"Sex": {"M": 0, "F": 1}}
print(cleanupType5["Sex"])

#To convert the columns to numbers
data = data.replace(cleanupType5)
data["Sex"]

{'M': 0, 'F': 1}

0      0
1      1
2      0
3      1
4      0
      ..
913    0
914    0
915    0
916    1
917    0
Name: Sex, Length: 918, dtype: int64

In [49]:
#data.drop('RestingBP',axis='columns')
#print(data['FastingBS'].value_counts())
#data = data.drop('FastingBS',axis='columns')

data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,2,140,289,0,172,0,0.0,1,0
1,49,1,1,160,180,0,156,0,1.0,0,1
2,37,0,2,130,283,2,98,0,0.0,1,0
3,48,1,0,138,214,0,108,1,1.5,0,1
4,54,0,1,150,195,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,132,0,1.2,0,1
914,68,0,0,144,193,0,141,0,3.4,0,1
915,57,0,0,130,131,0,115,1,1.2,0,1
916,57,1,2,130,236,1,174,0,0.0,0,1
917,38,0,1,138,175,0,173,0,0.0,1,0

In [50]:
from sklearn import model_selection
X = data.iloc[:,0:10]
Y = data.iloc[:,10]
seed = 7
validation_size = 0.3
X_train, X_test, Y_train, Y_test =model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)
X_train

,Age,Sex,ChestPainType,RestingBP,Cholesterol,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
239,48,0,0,160,193,0,102,1,3.0,0
504,62,0,0,158,210,0,112,1,3.0,2
451,64,0,0,144,0,2,122,1,1.0,0
192,48,0,2,130,245,0,160,0,0.0,1
422,65,0,0,150,236,2,105,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...
579,69,0,0,145,289,2,110,1,1.8,0
502,69,0,0,140,208,2,140,1,2.0,0
537,74,0,0,150,258,2,130,1,4.0,2
196,49,0,0,120,297,0,132,0,1.0,0
175,43,0,0,140,288,0,135,1,2.0,0

In [56]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(data)
print(scaled)

from sklearn import model_selection
X = scaled[:,0:10]
Y = scaled [:,10]
seed = 7
validation_size = 0.3
X_train, X_test, Y_train, Y_test =model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)
X_train

[[0.24489796 0.         0.66666667 ... 0.29545455 0.5        0.        ]
 [0.42857143 1.         0.33333333 ... 0.40909091 0.         1.        ]
 [0.18367347 0.         0.66666667 ... 0.29545455 0.5        0.        ]
 ...
 [0.59183673 0.         0.         ... 0.43181818 0.         1.        ]
 [0.59183673 1.         0.66666667 ... 0.29545455 0.         1.        ]
 [0.20408163 0.         0.33333333 ... 0.29545455 0.5        0.        ]]

array([[0.40816327, 0.        , 0.        , ..., 1.        , 0.63636364,
        0.        ],
       [0.69387755, 0.        , 0.        , ..., 1.        , 0.63636364,
        1.        ],
       [0.73469388, 0.        , 0.        , ..., 1.        , 0.40909091,
        0.        ],
       ...,
       [0.93877551, 0.        , 0.        , ..., 1.        , 0.75      ,
        1.        ],
       [0.42857143, 0.        , 0.        , ..., 0.        , 0.40909091,
        0.        ],
       [0.30612245, 0.        , 0.        , ..., 1.        , 0.52272727,
        0.        ]])

In [59]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

# Test options and evaluation metric
seed = 7
#the seed ensures we have the same sequence of random numbers. 
#The random numbers ensure we have a random split of the data into the k folds.
scoring = 'accuracy'
# Spot Check Algorithms
models = []
models.append(('LR',  LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier(n_neighbors=5)))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))

print(models)

[('LR', LogisticRegression()), ('LDA', LinearDiscriminantAnalysis()), ('KNN', KNeighborsClassifier()), ('CART', DecisionTreeClassifier()), ('NB', GaussianNB()), ('SVM', SVC())]

In [60]:
results=[]
names=[]
#putting a loop for testing various models
for name, model in models:
    kfold=model_selection.KFold(n_splits=15, random_state=seed,shuffle=True)
    cv_results = model_selection.cross_val_score(model,X_train,Y_train, cv=kfold)
    results.append(cv_results)
    names.append(name)
    msg = "%s : %f (%f)"%(name,cv_results.mean(),cv_results.std())
    print(msg)
    
print(results)

LR : 0.842562 (0.057736)
LDA : 0.845626 (0.058026)
KNN : 0.850498 (0.043959)
CART : 0.777261 (0.037978)
NB : 0.844186 (0.060053)
SVM : 0.867590 (0.050095)
[array([0.79069767, 0.93023256, 0.90697674, 0.88372093, 0.79069767,
       0.90697674, 0.81395349, 0.88372093, 0.72093023, 0.86046512,
       0.88372093, 0.81395349, 0.76190476, 0.83333333, 0.85714286]), array([0.81395349, 0.93023256, 0.90697674, 0.8372093 , 0.86046512,
       0.93023256, 0.8372093 , 0.88372093, 0.74418605, 0.81395349,
       0.93023256, 0.76744186, 0.78571429, 0.80952381, 0.83333333]), array([0.8372093 , 0.90697674, 0.86046512, 0.8372093 , 0.8372093 ,
       0.90697674, 0.81395349, 0.88372093, 0.76744186, 0.88372093,
       0.88372093, 0.76744186, 0.83333333, 0.83333333, 0.9047619 ]), array([0.74418605, 0.79069767, 0.74418605, 0.79069767, 0.72093023,
       0.81395349, 0.76744186, 0.8372093 , 0.74418605, 0.79069767,
       0.8372093 , 0.74418605, 0.76190476, 0.83333333, 0.73809524]), array([0.8372093 , 0.93023256, 0.93023256, 0.81395349, 0.76744186,
       0.95348837, 0.79069767, 0.88372093, 0.76744186, 0.86046512,
       0.86046512, 0.76744186, 0.80952381, 0.80952381, 0.88095238]), array([0.76744186, 0.90697674, 0.88372093, 0.86046512, 0.8372093 ,
       0.93023256, 0.81395349, 0.95348837, 0.8372093 , 0.88372093,
       0.93023256, 0.81395349, 0.85714286, 0.83333333, 0.9047619 ])]

In [61]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

LDA = LinearDiscriminantAnalysis()
kfold=model_selection.KFold(n_splits=20, random_state=seed,shuffle=True)
cv_results = model_selection.cross_val_score(LDA,X_train,Y_train, cv=kfold)

cv_results.mean()

0.8504734848484847

In [19]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
kfold=model_selection.KFold(n_splits=5, random_state=seed,shuffle=True)
cv_results = model_selection.cross_val_score(LR,X_train,Y_train, cv=kfold)

cv_results.mean()

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8519743217054263

In [62]:
LR= LR.fit(X_train,Y_train)

predictions = LR.predict(X_test)
predictions

a=accuracy_score(predictions, Y_test)
print(a)

0.8369565217391305

In [63]:
LR= LR.fit(X_train,Y_train)

predictions = LR.predict(X_test)
predictions

a=accuracy_score(predictions, Y_test)
print(a)

0.8369565217391305

In [64]:
from sklearn.svm import SVC
SVM = SVC()

kfold=model_selection.KFold(n_splits=15, random_state=seed,shuffle=True)
cv_results = model_selection.cross_val_score(SVM,X_train,Y_train, cv=kfold)
cv_results.mean()*100

86.75895164267257

In [65]:
data.to_csv("HeartFailurePrediction.csv")

In [66]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,2,140,289,0,172,0,0.0,1,0
1,49,1,1,160,180,0,156,0,1.0,0,1
2,37,0,2,130,283,2,98,0,0.0,1,0
3,48,1,0,138,214,0,108,1,1.5,0,1
4,54,0,1,150,195,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,132,0,1.2,0,1
914,68,0,0,144,193,0,141,0,3.4,0,1
915,57,0,0,130,131,0,115,1,1.2,0,1
916,57,1,2,130,236,1,174,0,0.0,0,1
917,38,0,1,138,175,0,173,0,0.0,1,0