In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("brain_stroke.csv")
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [2]:
data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [3]:
print(data["gender"].value_counts())
print(data["ever_married"].value_counts())
print(data["work_type"].value_counts())
print(data["Residence_type"].value_counts())
print(data["smoking_status"].value_counts())

Female    2907
Male      2074
Name: gender, dtype: int64
Yes    3280
No     1701
Name: ever_married, dtype: int64
Private          2860
Self-employed     804
children          673
Govt_job          644
Name: work_type, dtype: int64
Urban    2532
Rural    2449
Name: Residence_type, dtype: int64
never smoked       1838
Unknown            1500
formerly smoked     867
smokes              776
Name: smoking_status, dtype: int64

In [5]:
cleanupGender = {"gender":{"Male":0, "Female":1}}
print(cleanupGender)

data = data.replace(cleanupGender)
data["gender"]

{'gender': {'Male': 0, 'Female': 1}}

0       0
1       0
2       1
3       1
4       0
       ..
4976    0
4977    0
4978    1
4979    0
4980    1
Name: gender, Length: 4981, dtype: int64

In [6]:
cleanupMarried = {"ever_married":{"No":0, "Yes":1}}
print(cleanupMarried)

data = data.replace(cleanupMarried)
data["ever_married"]

{'ever_married': {'No': 0, 'Yes': 1}}

0       1
1       1
2       1
3       1
4       1
       ..
4976    0
4977    1
4978    1
4979    1
4980    1
Name: ever_married, Length: 4981, dtype: int64

In [ ]:
cleanupWork = {"work_type":{"Private":0, "Self-employed":1, "children":2, "Govt_job":3}}
print(cleanupMarried)

data = data.replace(cleanupMarried)
data["ever_married"]