In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("brain_stroke.csv")
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [2]:
data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [3]:
print(data["gender"].value_counts())
print(data["ever_married"].value_counts())
print(data["work_type"].value_counts())
print(data["Residence_type"].value_counts())
print(data["smoking_status"].value_counts())

Female    2907
Male      2074
Name: gender, dtype: int64
Yes    3280
No     1701
Name: ever_married, dtype: int64
Private          2860
Self-employed     804
children          673
Govt_job          644
Name: work_type, dtype: int64
Urban    2532
Rural    2449
Name: Residence_type, dtype: int64
never smoked       1838
Unknown            1500
formerly smoked     867
smokes              776
Name: smoking_status, dtype: int64

In [5]:
cleanupGender = {"gender":{"Male":0, "Female":1}}
print(cleanupGender)

data = data.replace(cleanupGender)
data["gender"]

{'gender': {'Male': 0, 'Female': 1}}

0       0
1       0
2       1
3       1
4       0
       ..
4976    0
4977    0
4978    1
4979    0
4980    1
Name: gender, Length: 4981, dtype: int64

In [6]:
cleanupMarried = {"ever_married":{"No":0, "Yes":1}}
print(cleanupMarried)

data = data.replace(cleanupMarried)
data["ever_married"]

{'ever_married': {'No': 0, 'Yes': 1}}

0       1
1       1
2       1
3       1
4       1
       ..
4976    0
4977    1
4978    1
4979    1
4980    1
Name: ever_married, Length: 4981, dtype: int64

In [7]:
cleanupWork = {"work_type":{"Private":0, "Self-employed":1, "children":2, "Govt_job":3}}
print(cleanupWork)

data = data.replace(cleanupWork)
data["work_type"]

{'work_type': {'Private': 0, 'Self-employed': 1, 'children': 2, 'Govt_job': 3}}

0       0
1       0
2       0
3       1
4       0
       ..
4976    0
4977    0
4978    3
4979    0
4980    0
Name: work_type, Length: 4981, dtype: int64

In [8]:
# Urban    2532
# Rural    2449
# Name: Residence_type, dtype: int64
# never smoked       1838
# Unknown            1500
# formerly smoked     867
# smokes              776
# Name: smoking_status, dtype: int64

cleanupResidence = {"Residence_type":{"Urban":0, "Rural":1}}
print(cleanupResidence)

data = data.replace(cleanupResidence)
data["Residence_type"]

{'Residence_type': {'Urban': 0, 'Rural': 1}}

0       0
1       1
2       0
3       1
4       0
       ..
4976    1
4977    0
4978    1
4979    1
4980    0
Name: Residence_type, Length: 4981, dtype: int64

In [9]:
cleanupSmoke = {"smoking_status":{"never smoked":0, "Unknown":1, "formerly smoked":2, "smokes":3}}
print(cleanupSmoke)

data = data.replace(cleanupSmoke)
data["work_type"]

{'smoking_status': {'never smoked': 0, 'Unknown': 1, 'formerly smoked': 2, 'smokes': 3}}

0       0
1       0
2       0
3       1
4       0
       ..
4976    0
4977    0
4978    3
4979    0
4980    0
Name: work_type, Length: 4981, dtype: int64

In [10]:
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,1,0,0,228.69,36.6,2,1
1,0,80.0,0,1,1,0,1,105.92,32.5,0,1
2,1,49.0,0,0,1,0,0,171.23,34.4,3,1
3,1,79.0,1,0,1,1,1,174.12,24.0,0,1
4,0,81.0,0,0,1,0,0,186.21,29.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,0,41.0,0,0,0,0,1,70.15,29.8,2,0
4977,0,40.0,0,0,1,0,0,191.15,31.1,3,0
4978,1,45.0,1,0,1,3,1,95.02,31.8,3,0
4979,0,40.0,0,0,1,0,1,83.94,30.0,3,0
4980,1,80.0,1,0,1,0,0,83.75,29.1,0,0

In [34]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(data)
print(scaled)

from sklearn import model_selection
X = scaled[:,0:10]
Y = scaled [:,10]
seed = 7
validation_size = 0.3
X_train, X_test, Y_train, Y_test =model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)
X_train

[[0.         0.81689453 0.         ... 0.64756447 0.66666667 1.        ]
 [0.         0.97558594 0.         ... 0.53008596 0.         1.        ]
 [1.         0.59716797 0.         ... 0.58452722 1.         1.        ]
 ...
 [1.         0.54833984 1.         ... 0.51002865 1.         0.        ]
 [0.         0.48730469 0.         ... 0.45845272 1.         0.        ]
 [1.         0.97558594 1.         ... 0.43266476 0.         0.        ]]

array([[0.        , 0.76806641, 0.        , ..., 0.20007386, 0.4756447 ,
        0.        ],
       [1.        , 0.89013672, 0.        , ..., 0.10234512, 0.24641834,
        0.        ],
       [1.        , 0.96337891, 0.        , ..., 0.91745915, 0.42406877,
        0.66666667],
       ...,
       [0.        , 0.18212891, 0.        , ..., 0.69421106, 0.29226361,
        0.        ],
       [1.        , 0.56054688, 0.        , ..., 0.03088357, 0.32951289,
        0.33333333],
       [1.        , 0.64599609, 0.        , ..., 0.18013111, 0.39255014,
        1.        ]])

In [35]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

# Test options and evaluation metric
seed = 7
#the seed ensures we have the same sequence of random numbers. 
#The random numbers ensure we have a random split of the data into the k folds.
scoring = 'accuracy'
# Spot Check Algorithms
models = []
models.append(('LR',  LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier(n_neighbors=5)))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))

print(models)

[('LR', LogisticRegression()), ('LDA', LinearDiscriminantAnalysis()), ('KNN', KNeighborsClassifier()), ('CART', DecisionTreeClassifier()), ('NB', GaussianNB()), ('SVM', SVC())]

In [15]:
results=[]
names=[]
#putting a loop for testing various models
for name, model in models:
    kfold=model_selection.KFold(n_splits=15, random_state=seed,shuffle=True)
    cv_results = model_selection.cross_val_score(model,X_train,Y_train, cv=kfold)
    results.append(cv_results)
    names.append(name)
    msg = "%s : %f (%f)"%(name,cv_results.mean(),cv_results.std())
    print(msg)
    
print(results)

LR : 0.950957 (0.011692)
LDA : 0.944073 (0.014089)
KNN : 0.949235 (0.011733)
CART : 0.915946 (0.015084)
NB : 0.868616 (0.024370)
SVM : 0.951243 (0.011468)
[array([0.94420601, 0.96566524, 0.93562232, 0.93991416, 0.94849785,
       0.93562232, 0.95689655, 0.97413793, 0.95689655, 0.94827586,
       0.95689655, 0.93103448, 0.9612069 , 0.95258621, 0.95689655]), array([0.93991416, 0.96137339, 0.93991416, 0.93562232, 0.93991416,
       0.90987124, 0.93534483, 0.95689655, 0.94396552, 0.93965517,
       0.95689655, 0.92672414, 0.9612069 , 0.95258621, 0.9612069 ]), array([0.93562232, 0.96137339, 0.93991416, 0.94849785, 0.94849785,
       0.92703863, 0.95689655, 0.96551724, 0.95258621, 0.94827586,
       0.95258621, 0.92672414, 0.95258621, 0.9612069 , 0.9612069 ]), array([0.92274678, 0.92274678, 0.9055794 , 0.92703863, 0.93133047,
       0.89699571, 0.92672414, 0.92241379, 0.89655172, 0.9137931 ,
       0.93965517, 0.88362069, 0.90517241, 0.9137931 , 0.93103448]), array([0.87124464, 0.90128755, 0.85407725, 0.9055794 , 0.86266094,
       0.81974249, 0.84913793, 0.8362069 , 0.85344828, 0.86637931,
       0.90517241, 0.85775862, 0.875     , 0.87931034, 0.89224138]), array([0.94420601, 0.96566524, 0.93562232, 0.94420601, 0.94849785,
       0.93562232, 0.95689655, 0.97413793, 0.95689655, 0.94827586,
       0.95689655, 0.93103448, 0.9612069 , 0.95258621, 0.95689655])]

In [44]:
from sklearn.svm import SVC
SVM = SVC()

kfold=model_selection.KFold(n_splits=15, random_state=seed,shuffle=True)
cv_results = model_selection.cross_val_score(SVM,X_train,Y_train, cv=kfold)
cv_results.mean()*100

95.12431552464112

In [37]:
# # data standardization with  sklearn
# from sklearn.preprocessing import StandardScaler

# # copy of datasets
# X_train_stand = X_train.copy()
# X_test_stand = X_test.copy()

# print(data)
# stdScaler = StandardScaler()
# # numerical features
# # num_cols = ['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi','smoking_status']

# # apply standardization on numerical features
# # for i in num_cols:
    
#     # fit on training data column
# stdScaled = stdScaler.fit_transform(data)
# print(stdScaled)

# from sklearn import model_selection
# X = stdScaled[:,0:10]
# Y = stdScaled [:,10]
# seed = 7
# validation_size = 0.3
# X_train, X_test, Y_train, Y_test =model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)
# X_train

# from sklearn.metrics import accuracy_score
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# from sklearn.naive_bayes import GaussianNB
# from sklearn.svm import SVC

# # Test options and evaluation metric
# seed = 7
# #the seed ensures we have the same sequence of random numbers. 
# #The random numbers ensure we have a random split of the data into the k folds.
# scoring = 'accuracy'
# # Spot Check Algorithms
# models = []
# models.append(('LR',  LogisticRegression()))
# models.append(('LDA', LinearDiscriminantAnalysis()))
# models.append(('KNN', KNeighborsClassifier(n_neighbors=5)))
# models.append(('CART', DecisionTreeClassifier()))
# models.append(('NB', GaussianNB()))
# models.append(('SVM', SVC()))

# print(models)

# results=[]
# names=[]
# #putting a loop for testing various models
# for name, model in models:
#     kfold=model_selection.KFold(n_splits=15, random_state=seed,shuffle=True)
#     cv_results = model_selection.cross_val_score(model,X_train,Y_train, cv=kfold)
#     results.append(cv_results)
#     names.append(name)
#     msg = "%s : %f (%f)"%(name,cv_results.mean(),cv_results.std())
#     print(msg)
    
# print(results)

In [45]:
SVM = SVM.fit(X_train, Y_train)
predictions = SVM.predict(X_test)
predictions

a=accuracy_score(predictions, Y_test)
print("Accuracy score of the model is: ",a*100)

Accuracy score of the model is:  94.78260869565217